name: "Auto Merge Release PRs"

on:
  pull_request:
    branches:
      - main

defaults:
  run:
    shell: bash

permissions:
  contents: write

jobs:
  auto-merge-release-pr:
    if: ${{ github.actor == 'microsoft-graph-devx-bot[bot]' }}
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Enable auto-merge
      run: |
        gh pr merge --auto --merge "$PR_URL"
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        PR_URL: ${{ github.event.pull_request.html_url }}
