name: Build

on:
  workflow_dispatch:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]

permissions:
  contents: read
  pull-requests: read

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-versions: ['7.4', '8.1', '8.2', '8.3']
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          coverage: none
      - name: Install dependencies
        run: composer install
      - name: Run static analysis
        run: ./vendor/bin/phpstan
      - name: Run tests
        run: ./vendor/bin/phpunit

  code-coverage:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup PHP and Xdebug for Code Coverage report
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.0'
          coverage: xdebug
      - name: Install dependencies
        run: composer install
      - name: Run static analysis
        run: ./vendor/bin/phpstan
      - name: Run tests with coverage
        run: ./vendor/bin/phpunit --coverage-clover=coverage.xml
      - name: Fix code coverage paths
        run: sed -i 's@'$GITHUB_WORKSPACE'@/github/workspace/@g' coverage.xml
      - name: SonarCloud Scan
        if: ${{ !github.event.pull_request.head.repo.fork }}
        uses: SonarSource/sonarcloud-github-action@master
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
